@import url('https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    --primary: #333;
    --bg: #f8f6f6;
}
.color-primary{
    color: var(--primary)
}
.bg-primary{
    background-color: var(--primary)
}

.color-bg{
    color: var(--bg)
}
.bg-bg{
    background-color: var(--bg);
}
#logo{
    transition: 0.3s;
}
#logo:hover{
    transform: rotate(-7deg);
}